.add-user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  min-height: 40px;
}

.add-user-header button {
  flex-shrink: 0;
  white-space: nowrap;
}

.centered-title {
  margin: 0;
  flex: 1;
  text-align: center;
  padding: 0 1rem;
}
.add-user-container{
    margin-top: 70px;
    width: 70%;
    padding: 50px;
}

.add-user-form-container {
//     display: flex
// ;
//     justify-content: space-around;
}